
/*basic*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    
}
body{
    background: url('https://bodymastersksa.com/images/bg-location.jpg');
    background-size: cover;
}

/*main*/
.container{
    max-width: 900px;
    margin: 10px auto;
}
p{
    color: #ffd200;
}
a:hover{
    color: white;
}

/*navbar*/
.navbar{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main_bar a{
    color: #ffd200;
}
.main_bar a:hover{
    color: white;
}
.main_bar_r{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lang{
    float: right;
}
.sub_bar{
    background: url('https://bodymastersksa.com/images/bg_menu_new1.png');
    text-transform: uppercase;
    padding: 5px;
}
.main_bar, .sub_bar ul, .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}



.first_pic img{
   width: 100%;
   padding-top: 18px;
}

.info_website{
    font-family: uni sans w01 bold italic;
    font-size: 18px;
    color: #ffd200;
    padding-top: 18px;
}

.First_pargraph pre{
    color: white;
 font: inherit;
  font-size: 13px;
  width: 100%; 
  padding-top: 10px;
  

}
.Second_pargraph pre{
    color: white;
    font: inherit;
     font-size: 13px;
     width: 100%; 
     padding-top: 22px;

}
.Third_pargraph pre{
    position: relative;
    left: 55%;
    bottom: 180px;
    color: white;
    font: inherit;
     font-size: 13px;
     width: 100%; 
     padding-top: 22px;
     
    

}
.line_between {
    height: 1px;
    width: 1000px;
    background-color: #ffd200;
}

.logo_fecbook img{
    padding-bottom: 20px;
    width: 96;
    height: 20;

}

.border_fecbook{
     width: 100%;
    max-width: 466px; 
    height: 540px;
    border: solid 1px #ffd200;
    background-color: rgba(0, 0, 0, .4); 
    
}

.logo_twitter img{
    position: relative;
    left: 55%;
    bottom: 580;
    height: 21;
}

 .border_twitter {
    position: relative;
    left: 490px;
    width: 100%;
    max-width: 470px; 
    height: 540px;
    border: solid 1px #ffd200;
    background-color: rgba(0, 0, 0, .4);

}  

 .border_twitter img{
    height: 530px;

    
}

.All_footeer{
    

}



.footer-left-image{
    position: relative;
    top: 75px; 
}


.Footer-list a{
    position: relative;
    color: #ffd200;
    top: 90px;   
    left: 50;

}

.Footer-list b{
    position: relative;
    color: white;
    top: 90px;  
    left: 50;
}
.footer-right-image{
    position: relative;
    left: 730px;
    top: -15px; 
} 

.zoom_creative_img{
    position: relative;
    left: 798px;
    top: 50x;

}





