/*basic*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background: url('https://bodymastersksa.com/images/bg-location.jpg');
    background-size: cover;
}

/*main*/
.container{
    max-width: 900px;
    margin: 10px auto;
}
p{
    color: #ffd200;
}
a:hover{
    color: white;
}

/*navbar*/
.navbar{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main_bar a{
    color: #ffd200;
}
.main_bar a:hover{
    color: white;
}
.main_bar_r{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lang{
    float: right;
}
.sub_bar{
    background: url('https://bodymastersksa.com/images/bg_menu_new1.png');
    text-transform: uppercase;
    padding: 5px;
}
.main_bar, .sub_bar ul, .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/*footer*/
.footer-left-image{
    position: relative;
    top: 75px; 
}


.Footer-list a{
    position: relative;
    color: #ffd200;
    top: 90px;   
    left: 50;

}

.Footer-list b{
    position: relative;
    color: white;
    top: 90px;  
    left: 50;
}
.footer-right-image{
    position: relative;
    left: 730px;
    top: -15px; 
} 

.zoom_creative_img{
    position: relative;
    left: 798px;
    top: 50x;

}